.input {
    text-align: center;
}
.btn {
    display: inline-block;
    margin-right: 6px;
    background-color:hsla(122, 0%, 65%, 1)
}
body{
    background-color:hsla(120,60%,70%,0.3);}
}
.form{
    position: relative; 
   }